# Data files
data/raw/
data/exports/
*.db
*.csv
*.xlsx
*.xls
*.png

# PyCharm 
.idea/

# Python
__pycache__/
*.pyc
*.pyo
.env

# Virtual environment
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/